

.comment {
    margin: 0 auto;
    max-width: 43%;
    background-color: rgba(173, 216, 230, .66);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 5px gray;
    margin-top: 16px;
  }
  
  .comment:hover {
    background-color: rgba(255, 0, 0, 0.3);
     transition: background-color 500ms linear;
  }
  
  .comment .username {
    float: left;
    font-size: 18px;
  }
  
  .comment .text {
    text-align: left;
    margin-left: 20px;
    clear: both;
  }
  
  .comment .date {
    color: gray;
    float: right;
  }

  @media only screen and (max-width: 600px) {
    .comment {
        max-width: 100%;
    }
  }
