.post {
    display: block;
    min-width: 400px;
    max-height: 2000px;
    max-width: 800px;
    background-color: white; 
    margin:10px;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 26px 0px rgba(50, 50, 50, 0.95);
    -moz-box-shadow:    0px 10px 26px 0px rgba(50, 50, 50, 0.95);
    box-shadow:         0px 10px 26px 0px rgba(50, 50, 50, 0.95);
  }

  .title {
      color: lightseagreen !important;
      margin: 0;
  }
  
  .image {
    max-width: 100%;
    max-height: auto;
    padding:1px;
    border:1px solid #021a40;
    background-color:lightblue;
    border-radius: 2px;
  }
  
  .line {
    display: block;
  }
  
  .post_left {
    display: block;
    width: 80%;
    float: left;
  }
  
  .post_bottom { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .post .post_bottom .post_likes {
    padding: 6px 0px 6px 16px;
    background-color: aquamarine;
    justify-content: center;
    border-radius: 5px;
  }

  .post .post_bottom .post_author {
    padding: 0 10px 0 10px;
    background-color: darksalmon;
    border-radius: 5px;
  }

  .post p {
    color: darkslategray;
  }

 

  .post_tags {
    color: palevioletred;
    clear: both;
  }



